html{
    overflow-x: hidden;
}
body{
    margin: 0%;
    padding: 0%;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    background-color: rgb(71, 164, 164);
    
     }
.nav .midnav{
        display: flex;
         
        text-decoration: none;
        list-style-type: none;  
    }
    .nav .midnav li{
        margin: 20px;
        text-decoration: none;
        list-style-type: none;
        padding-right: 10px;
        font-size: 28px;
    }
    .nav .endnav{
        font-size: 20px; 
    }
    .hero{
        display: flex;
        justify-content: space-evenly;
        background-image: url(https://img.freepik.com/free-photo/abstract-blue-extruded-voronoi-blocks-background-minimal-light-clean-corporate-wall-3d-geometric-surface-illustration-polygonal-elements-displacement_1217-2510.jpg?w=1380&t=st=1708804099~exp=1708804699~hmac=484e0705d4aa047e512d7666af3b81a0ebcaee514b945bcef36b8ea7776603e6);
        
    }
    .hero .hero1{
        padding-top: 250px;
        font-size: 12px;
        
        
    }
    #btn{
        background-color: rgb(162, 15, 15);
        margin: 12px;
        width: 150px;
        padding: 10px;
        font-size: 20px;
    }
    #yash{
        margin: 12px;
        width: 300px;
        padding: 10px;
        font-size: 20px;
    }
    .bits{
         color: rgb(201, 9, 9);
        display: flex;
        justify-content: space-evenly;
        background-image: url(https://t3.ftcdn.net/jpg/05/36/46/34/240_F_536463425_CGutOm3pNR5XGLvO5ipygjErqxV6HQMs.jpg)
    }
    #bits0{
        
        font-size: 40px;
        background-image: url;
        justify-content: space-evenly;
    }
   
    .peri {
        display: flex;
        justify-content: center;
        
    }
    .pet {
        display: flex;
        justify-content: center;
    }
    .cat {
        display: flex;
        justify-content: center;
        
    }
    .tom {
        display: flex;
        justify-content: center;
    }
    .peri img{
       width: 80px; 
    }
    .pet img{
        width: 80px;
    }
    .cat img{
        width: 80px;
    }
    .tom img{
        width: 80px;
    }
    .yashwant{
    background-image: url(https://media.istockphoto.com/id/926993450/photo/white-texture-background.webp?b=1&s=612x612&w=0&k=20&c=EZyss4ClHnwkojfxfUas-xrlG6AU9mFyIGaU8U9_Nuw=);
    }
    .book {
        display: flex;
        justify-content: space-evenly;
        
        background-color: rgb(138, 36, 240);
    }
    #pen {
        font-size: 50px;
    }
    #copy {
       height: 200px; 
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto   ;
        background-color: #2196F3;
        padding: 10px;
        column-gap: 50px;
        row-gap: 50px;
    }
    
        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
          }
    
.from1 {
    box-shadow: 0px 0px 40px rgb(60 60 60);
    width: 400px;
    border-radius: 20px;
} 
#formcss input{
    margin: 12px;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(110 100 100);
    color: red;
}
#formcss button{
    background-color: brown;
        margin: 50px;
        width: 250px;
        padding: 20px;
        font-size: 20px;
}
.form1 {
     background-color: #3fa0ef;
    display: flex;
    justify-content: space-evenly;
}
#formcss2 button{
    margin: 50px;
    width: 250px;
    padding: 20px;
    font-size: 20px;

}
#formcss2 div{
    font-size: 36px;
}
#formcss2 img {
    width: 500px;
}

        
            
      +

